<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jashith.stride.refresh</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/Stride/Tools/stride-refresh.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key><integer>4</integer>
			<key>Minute</key><integer>15</integer>
		</dict>
		<dict>
			<key>Hour</key><integer>19</integer>
			<key>Minute</key><integer>15</integer>
		</dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>5</integer>
	<key>StandardOutPath</key>
	<string>__HOME__/Stride/.build/launchd.out.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Stride/.build/launchd.err.log</string>
</dict>
</plist>
